body{
    background: #232323;
}

#container{
    margin: 0 auto;
    max-width: 600px;

}

.tile{
    background: #232323;
    width: 30%;
    border-radius: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}